<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading" (ngSubmit)="onSavePost()">
    <mat-form-field>
      <input
        formControlName="title"
        matInput
        type="text"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button (click)="filePicker.click()" mat-stroked-button type="button">Pick Image</button>
      <input (change)="onImagePicked($event)" #filePicker type="file">
    </div>
    <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" class="image-preview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
        formControlName="content"
        matInput
        rows="4"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
